<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 footer-style footer-gray">
            <div class="footer-email">
                <label>
                    Subsribe to our newsletter
                </label>
                <a href="javascript:void(0);" onclick="openModal();">
                    <div class="input-placeholder">
                        <input type="text" name="newsletterSignup" readonly="readonly"
                            placeholder="What's your email?" />
                        <span>{% include 'icon-caret-right'%}</span>
                    </div>
                </a>
            </div>
            {% comment %}
            {% include 'social-media-icons' %}
            {% endcomment %}

        </div>
        <div class="col-md-6 align-right footer-style footer-gray">
            {% for link in linklists[section.settings.footer_linklist_1].links %}
            {% if link.links != blank %}
            <div class="col-md-3 inline-table">
                <ul>
                    <li class="nav-link footer-links w-100 footer-title">
                        <a href="{{ link.url }}" href="#" role="button">
                            {{ link.title }}
                        </a>
                        <div>
                            {% for childlink in link.links %}
                            <div>
                                <a href="{{ childlink.url }}" role="button" class="footer-links">
                                    {{ childlink.title }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            {% else %}
            <li class="nav-item">
                <a href="{{ link.url }}" class="nav-link">
                    {{ link.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left">
            <small>&copy; {{ 'now' | date: "%Y" }} All Rights Reserved | <b>Company Name</b> | Company Tag Line.</small>
        </div>
        <div class="col-md-6 right">
            <small><a href="#">Privacy Policy</a> | <a href="#">Terms and
                    Conditions</a></small>
        </div>
    </div>
</div>