{% paginate collection.products by 20 %}
<div id="pages" style="display:none;">{{paginate.pages}}</div>
{% assign productCount = collection.all_products_count | minus: paginate.current_offset %}

<div class="{%if section.settings.is_full_width %} container-fluid {%else%} container-fluid {%endif%} ">

  <header role="banner" class="d-flex align-items-center" style="min-height: {{section.settings.header_height}}px;">
    <div class="w-100">
      <h1 class="text-{{section.settings.header_align}}">{{ collection.title }}</h1>
      {% if collection.description != blank %}
      <div class="text-{{section.settings.header_align}} ">
        {{ collection.description }}
      </div>
      {% endif %}
    </div>
  </header>
  <div class="row">
    <p id="loop"></p>
    <nav class="navbar navbar-expand-lg bg-black w-100 sticky-filter">
      <div class="destop-display w-100">
        {% include 'desktop-collection-filter' %}
      </div>
      <div class="mobile-display">
        {% include 'mobile-sidebar-collection-nav'%}
      </div>
    </nav>




    <div class="col-md-12">
      <div class="row" id="Containerdemo">
        {% for product in collection.products %}
        <div class="col-five col-50 mix {% for tag in product.tags %}{{ tag | handleize | split: ' ' }} {% endfor %} ">
          {% if product.featured_image != blank %}

          <div class="reveal lazy-padding">
            <div id="mobileQuickBuy" class="mobile-display mobile-quickbuy">
              <div id="mobileAddToCartIcon">
                {% include 'icon-circle-plus'%}
              </div>
            </div>
            <a href="{{ product.url }}">
              <img data-src="{{ product.featured_image | img_url:'master'}}" alt=""
                class="img-fluid lazyload product-collection-image lazy-absolute">
            </a>
            <div id="quickBuy">
              {% include 'quickbuy-container' %}
            </div>
            <a href="{{ product.url }}" oncontextmenu="return false" >
              <div class="hidden">
                {% if product.images[2].alt contains 'vimeo' %}
                <video playsinline oncontextmenu="return false" preload="metadata" id="portfolio-vid" class="hidden img-fluid lazy-hover">
                  <source data-src="{{ product.images[2].alt}}">
                </video>
                {% else %}
                <img data-src="{{ product.images[1] | img_url:'master'}}" alt="" class="hidden img-fluid lazy-hover">
                {% endif %}
              </div>
            </a>
          </div>
          </a>
          {% endif %}

          <div>
            <a href="{{ product.url }}">{{ product.title }}</a>
          </div>
          <div>
            {% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{{ product_option.values.first }}{% endif %}{% endfor %}
          </div>
          {% include 'product-price' %}
        </div>
        {% endfor %}
      </div>
      <!--                     <div class="mixitup-page-list"></div> -->
    </div>
  </div>

</div>

</div>


</div>


{% endpaginate %}

{% schema %}
{
"name": "Collection",
"settings": [
{
"type": "header",
"content": "Collection header"
},
{
"type": "checkbox",
"id": "is_full_width",
"label": "Full width",
"default": false
},
{
"type": "select",
"id": "header_align",
"options": [
{
"value": "right",
"label": "Text right"
},
{
"value": "center",
"label": "Text center"
},
{
"value": "left",
"label": "Text left"
}
],
"label": "Header alignment",
"default": "left"
},
{
"type": "range",
"id": "header_height",
"min": 50,
"max": 500,
"step": 5,
"unit": "px",
"label": "Header height",
"default": 120
},
{
"type": "header",
"content": "Sidebar"
},
{
"type": "link_list",
"id": "collection_nav",
"label": "Navigation",
"info": "Select custom menu nav for sidebar"
},
{
"type": "checkbox",
"id": "hide_tags",
"label": "Hide tags",
"default": false,
"info": "Hide tags from sidebar"
},
{
"type": "header",
"content": "Others"
},
{
"type": "paragraph",
"content": "You can add more settings here :) "
}
]

}
{% endschema %}