<section data-section-id="{{ section.id }}" data-section-type="product">

  <div class="container mt-4 col-11">
    <div class="row">
      <div class="col-md-7">

        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

        <div class="row" >
          <div class="mobile-display">
            {% include 'swipe-arrows-right' %}
          </div>
          <div id="product-slider">
          {% for media in product.media %}
          {% case media.media_type %}
          {% when 'image' %}
          {% if forloop.index <= 3 %}
          <div class="product-image col-4 p-1">
            {% if media.alt contains 'vimeo' %}
              <video autoplay muted loop src="{{ media.alt }}" class="col-12 p-1" alt="{{ media.alt }}">
            {% else %}
            <img src="{{ media | img_url: '300x'}}" data-src="{{ media | img_url: 'master'}}" class="col-12 p-1 lazyload" alt="{{ media.alt }}">
            {%endif%}
          </div>
          {% elsif forloop.index == 4 %}
          <div class="product-image col-12 p-1">
            <img src="{{ media | img_url: '300x'}}" data-src="{{ media | img_url: 'master'}}" class="col-12 p-1 lazyload" alt="{{ media.alt }}">
          </div>
          {% elsif forloop.index <= 6 %}
          <div class="product-image col-6 p-1">
            <img src="{{ media | img_url: '300x'}}" data-src="{{ media | img_url: 'master'}}" class="col-12 p-1 lazyload" alt="{{ media.alt }}">
          </div>
          {% endif %}


          {% when 'external_video' %}
          <div class="product-single__media col-6">
            {{ media | external_video_tag }}
          </div>
          {% when 'video' %}
          <div class="product-single__video col-6">
            {{ media | video_tag: controls: true, autoplay: true}}
          </div>
          {% when 'model' %}
          <div class="product-single__media col-6">
            {{ media | model_viewer_tag }}
          </div>
          {% else %}
          <div class="product-single__media col-6">
            {{ media | media_tag }}
          </div>
          {% endcase %}
          {% endfor %}
        </div>
      </div>

      </div> <!-- / col -->

      <div class="col-md-5 mobile">
        <div class="container sticky">
          <div class="product-sticky">
            <h2 class="product-category">{{product.type}}</h2>
            <h1 id="productheader">{{ product.title }}</h1>

            <div data-price-wrapper class="my-2">
              <span data-product-price>
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
              {% endif %}
            </div>
            <div class="container col-lg-10 col-xs-12 ml-pl-zero">
              <label>Colors</label>
              {% comment %}
              <div id="swatchsliders"></div>
              {% endcomment %}
              <div class="swatch-slider">
                {% assign collection = collections.all-products %}
                {% paginate collection.products by 1000 %}
                <!-- This creates a variable to restrict the loop to return products with the same name as the product on the page visited -->
                {% assign productName = product.title %}
                {% for product in collection.products %}
                {% if product.title == productName %}
                <a href="{{ product.handle }}" class="swatch-gallery">
                  <img src="{{ product.images[0] | img_url }}" alt="{{product.name}}" width="60" title=""
                    data-toggle="tooltip" data-placement="bottom"
                    data-original-title="{% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{{ product_option.values.first }}{% endif %}{% endfor %}" />
                </a>
                {% endif %}
                {% endfor %}
                {% endpaginate %}
              </div>


            </div>



            {% include 'product-form' %}
            <div class="content">

              <div class="accordian"><a href="#product-description" data-accordian-action="">
                <h5>Product Description<span>+</span></h5>
                </a>
                <p id="product-description" data-accordian-target="">
                  {{ product.metafields.productDescription.productDescription }}
                </p>
                <!-- Start Product Technology Benefits --> <a href="#product-technology-benefits" data-accordian-action="">
                <h5>Product Technology Benefits <span>+</span></h5>
                </a>
                <p id="product-technology-benefits" data-accordian-target="">
                  {{ product.metafields.productDescription.TechnologyBenefits }}
                </p>
                <a href="#technical-specs" data-accordian-action="">
                <h5>Technical Specs <span>+</span></h5>
                </a>
                <p id="technical-specs" data-accordian-target="">
                  {{ product.metafields.productDescription.TechnicalSpecs }}
                </p>
                </div>
            </div>
  
            <div class="rte">
              {{ product.description }}
            </div>
          </div>
        </div>
        <div class="container">

          {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
        </div>
      </div> <!-- / col -->
    </div> <!-- / row -->
  </div>

</section>

{% schema %}
{
"name": "Product pages",
"settings": [
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
}
]
}
{% endschema %}